<%= render 'shared/header' %>

<!--Content-->
<section id="content1">
  <div class="container">
    <div class="row margin-40">
      <div class="span12 thank-you-div">
        <p class="lead thank-you thank-you-top">Thanks for signing up!</p>
        <p class="lead thank-you thank-you-bottom">We'll get back to you as<br class="mobile">soon as we have a match.</p>
      </div>
    </div>   
  </div>
</section>



<%= render 'shared/footer' %>