<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to('/') do %>
        <%= image_tag("found_logo.png", :class => "brand", :alt => "logo", :width => "160") %>
      <% end %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
        	<li><%= link_to "Home", "/"  %></li>
        	<!-- <li><%= link_to "Connect", "/#connect"  %></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
