/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 



.form-subtext {
	padding: 0 20px;
	margin-bottom: 30px;
	font-size: 16px;
	color: #646C71;
	weight: 100;
	line-height: 145%;
}